body{
    background-color: black;
}

.card {
    background-color: gold;    
    text-align: center;
    height: 42rem;
    width: 42rem;
    margin: auto;
    
}
p {
    padding: 70px 0;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
img{
    margin: auto;
    width: 68%;
    height: auto;
}